<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account info Submitted</title>
</head>

<body>
    <h1>You have submitted your account creation details, now see below:</h1>
    <br><br>
    <h2>Full Name: {{ name_data }} </h2>
    <br>
    <h2>Email ID: {{ email_data }} </h2>
    <br>
    <h2>Password: {{ password_data }} </h2>
    <br>
    <h2>Gender: {{ gender_data }} </h2>
    <hr>
    <hr>
    <hr>
    <h2>Personalized Message: {{ gender_message_data }}</h2>
    <h2>Button Pressed By You: {{ button_name_data }} </h2>

</body>

</html>