<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account info Submitted</title>
</head>


<body>
    <h1>You have submitted your account creation details, now see below:</h1>
    <br><br>
    <h2>Full Name: {{ name_data }} </h2>
    <br>
    <h2>Email ID: {{ email_data }} </h2>
    <br>
    <h2>Password: {{ password_data }} </h2>
    <br>
    <h2>Gender: {{ gender_data }}</h2>
    <hr>
    <hr>
    <hr>

    <!-- Gender Message Logic -->
    <h2>Personalized Message:
        {% if gender_data == "Male" %}
        Hello, you are a boy. Thanks! boss you are boy
        {% elif gender_data == "Female" %}
        You are a super Queen! you are a small girl
        {% elif gender_data == "Others" %}
        You are God-gifted! you maybe in train
        {% elif gender_data == "Hidden" %}
        You have a hidden personality! you are so not happy.
        {% else %}
        This has not been checked yet.
        {% endif %}
    </h2>

    <!-- Button Press Feedback Logic -->
    <h2>Button Pressed By You:
        {% if button_pressed == "b1" %}
        You have pressed New Account Creation.
        {% elif button_pressed == "b2" %}
        You want to update your account.
        {% elif button_pressed == "b3" %}
        You want to delete your account.
        {% else %}
        You selected something else.
        {% endif %}
    </h2>
</body>


</html>